<%- include("partials/header")%> 
        <!--  -->
        <h1>SuccessFully Login</h1>
        <a href="/">Login/Register page</a>

        

        <!--  -->
        <%- include("partials/footer")%>